@charset "UTF-8";
@use '../../utils' as set;
@use "sass:map";


// 라벨

$labelSizes: (
  l: (h:3rem,   fs: set.$ft-bd-m, pd:.6rem 1.2rem),
  m: (h:2.4rem, fs: set.$ft-bd-s, pd:.4rem .8rem),
  s: (h:2rem,   fs: set.$ft-bd-xs, pd:.4rem .6rem),
);
$labelColors: (
  st: (bg: set.$sst-dCol-60, fc: set.$gray-0),
  imp: (bg: set.$mCol-60, fc: set.$gray-0),
  ne: (bg: set.$gray-100, fc: set.$gray-0),
  po: (bg: set.$mCol-10, fc: set.$mCol-60),
  de: (bg: set.$sst-dCol-10, fc: set.$sst-dCol-60),
  su: (bg: set.$sst-sCol-10, fc: set.$sst-sCol-60),
  wa: (bg: set.$sst-wCol-10, fc: set.$sst-wCol-60),
  if: (bg: set.$sst-iCol-10, fc: set.$sst-iCol-60),
  nm: (bg: set.$gray-10, fc: set.$gray-40),
);
.lb {
  border-radius: 100rem;
  display: flex; align-items: center; gap: 0.4rem;
  justify-content: center;
  background: set.$mCol-10;
  font-weight: 400;
  line-height: 1;
  text-box: set.$tbSet;
}


@each $size, $size_prop in $labelSizes {
  @each $type, $type_prop in $labelColors {
    .lb-#{$type}-#{$size} {
      @extend .lb;
      background: map.get($type_prop, bg);
      color: map.get($type_prop, fc);
      height: map.get($size_prop, h);
      font-size: map.get($size_prop, fs);
      padding: map.get($size_prop, pd);
      i {
        display: flex; height: 100%; aspect-ratio: 1/1; flex-shrink: 0; align-items: center; justify-content: center;
        &.ico-warning    { background: set.icon(ico-warning, map.get($type_prop, fc)) no-repeat center / contain; }
        &.ico-info    { background: set.icon(ico-info, map.get($type_prop, fc)) no-repeat center / contain; }
      }

    }
  }
}



