@charset "UTF-8";
@use 'vari' as set;
@use 'func' as fun;

// 키프레임 믹스인
@mixin ani-rotate($dur: 1000ms) { animation: ani-spinner 1000ms infinite linear reverse backwards; }

// 말줄임
@mixin lineCut($line:2) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;  
}

// 스크롤색상변경
@mixin scrollBar($color) {
    scrollbar-width: thin;
    scrollbar-color: $color set.$gray-5;
}

// 그림자 라인
@mixin box-border() {
  box-shadow: 0 0 0 1px set.$gray-30 inset;  
}

// 반응형 
@mixin res-mobile {
  @media screen and (max-width:335px) {
    @content;
  }
}
@mixin res-mo-tab {
  @media screen and (max-width:535px) {
    @content;
  }
}
@mixin res-tablet {
  @media screen and (max-width:720px) {
    @content;
  }
}
@mixin res-tab-lap {
  @media screen and (max-width:960px) {
    @content;
  }
}

@mixin only-pc {
  @media screen and (min-width:1025px) {
    @content;
  }
}

@mixin res-laptop {
  @media screen and (max-width:1024px) {
    @content;
  }
}


@mixin res-lap-pc {
  @media screen and (max-width:1500px) {
    @content;
  }
}

@mixin res-1200 {
  @media screen and (max-width:1200px) {
    @content;
  }
}


@mixin base-width {
    width: calc(100% - min(6rem, 6vw)); max-width: 1400px; margin: 0 auto;
    box-sizing: border-box; 
}


@mixin ico-close($color) {
    display: block;
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 100rem;
    &::before, &::after {
        content: "";
        width: calc(100% - .6rem);
        height: .1rem;
        background: $color;
        position: absolute;
        transform-origin: 0 0;
        left: 50%; top: 50%; transform: translate(-50%, -50%);
    }
    &::before { rotate: -45deg; }
    &::after  { rotate: 45deg; }
}

// 스피너


@mixin spinner($color) {
    display: block;
    aspect-ratio: 1/1;
    height: 100%;
    max-height: 8rem;
    background: fun.icon(ico-spinner, $color) no-repeat center center / contain;
    @include ani-rotate(1000ms);
}


// 아이콘 믹스인
@mixin getIcon($value, $color: #555555) {
    background: fun.icon($value, $color) no-repeat center center / contain;
}