@charset "UTF-8";
@use 'vari' as set;
@use 'func' as fun;

// 말줄임
@mixin lineCut($line:2) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;  
}

// 스크롤색상변경
@mixin scrollBar($color) {
    scrollbar-width: thin;
    scrollbar-color: $color set.$gray-5;
}

// 그림자 라인
@mixin box-border() {
  box-shadow: 0 0 0 1px set.$gray-30 inset;  
}

// 반응형 
@mixin res-mobile {
  @media screen and (max-width:335px) {
    @content;
  }
}
@mixin res-mo-tab {
  @media screen and (max-width:535px) {
    @content;
  }
}
@mixin res-tablet {
  @media screen and (max-width:720px) {
    @content;
  }
}
@mixin res-tab-lap {
  @media screen and (max-width:960px) {
    @content;
  }
}

@mixin only-pc {
  @media screen and (min-width:1025px) {
    @content;
  }
}

@mixin res-laptop {
  @media screen and (max-width:1024px) {
    @content;
  }
}


@mixin res-lap-pc {
  @media screen and (max-width:1500px) {
    @content;
  }
}

@mixin res-1200 {
  @media screen and (max-width:1200px) {
    @content;
  }
}


@mixin base-width {
    width: calc(100% - min(6rem, 6vw)); max-width: 1400px; margin: 0 auto;
    box-sizing: border-box; 
}

// 키프레임 믹스인
@mixin shake-left() { animation: shake-left 1000ms ease-in-out infinite 500ms alternate-reverse; animation-fill-mode: backwards }
@mixin shake-left-point() { animation: shake-left-point 2000ms ease-in-out infinite 500ms alternate-reverse; animation-fill-mode: backwards }
@mixin shake-right-point() { animation: shake-right-point 2000ms ease-in-out infinite 500ms alternate-reverse; animation-fill-mode: backwards }
@mixin shake-left-s() { animation: shake-left-s 2000ms ease-in-out infinite 500ms ; animation-fill-mode:backwards; animation-direction:reverse; animation-fill-mode: backwards }
@mixin shake-right() { animation: shake-right 1000ms ease-in-out infinite 500ms alternate-reverse; }
@mixin swing-top($dur: 1000ms) { animation: swing-top $dur ease-in-out infinite 500ms alternate-reverse }
@mixin swing-left($dur: 1000ms) { animation: swing-left $dur ease-in-out infinite 500ms alternate-reverse }
@mixin ani-flicker($dur: 1000ms) { animation: ani-flicker $dur ease-in-out infinite 500ms alternate-reverse }

