@charset "UTF-8";
@use '../utils' as set;



@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.flexBox {
  display: flex; align-items: center; gap: 1rem; flex-wrap: wrap; flex-grow: 1;

}
.scrollBox {
    display: flex; flex-direction: column; gap: 2rem;
    div {
      width: 30rem;
      aspect-ratio: 1/1;
      display: block;
      border-radius: 1rem;
      background: set.$gray-20;
      animation: appear linear;
      animation-timeline: view();
      animation-range: 0% 50%;
    }
}