@charset "UTF-8";
@use '../../utils' as set;
@use "sass:map";

:root { interpolate-size: allow-keywords; }

$acdSize:(
    s: (fs:set.$ft-bd-s, lb-fs: set.$ft-bd-xs, pd:1.5rem, arr:2rem, gap:1rem),
    m: (fs:set.$ft-bd-m, lb-fs: set.$ft-bd-s, pd:2rem, arr:3rem, gap:1rem),
    l: (fs:set.$ft-bd-l, lb-fs: set.$ft-bd-s, pd:2.4rem, arr:4rem, gap:2rem),
);

@each $name, $prop in $acdSize {
    .acd-#{$name} {
        display: flex; flex-direction: column; gap: map.get($prop, gap);
        details {
            border-radius: 1rem; border: .1rem solid set.$gray-20;
            font-size: map.get($prop, fs);
            &:hover {
                summary:hover {
                    &::after {
                        content: "";
                        background-image: set.icon(che-top, set.$mCol-60);
                    }
                }
            }
            summary {
                position: relative; display: flex; align-items: center; 
                gap: 1rem;
                color: set.$gray-100;
                outline: none;
                font-weight: 600;
                padding: map.get($prop, pd);
                cursor: pointer;
                em { font-size: map.get($prop, lb-fs); line-height: 1; text-box: set.$tbSet; display: block; background: set.$gray-100; color: set.$gray-0; font-weight: 300; padding: .9rem 1.2rem 1rem; border-radius: 100rem; }
                &::marker { content: ""; }
                &::after {
                    content: "";
                    width: map.get($prop, arr); aspect-ratio: 1/1;
                    position: absolute; right: calc(map.get($prop, pd) / 1.5); top: calc(50% - .2rem); transform: translateY(-50%);
                    background: set.icon(che-top, set.$gray-40) no-repeat center center / 40%;
                    transition: transform .3s ease;
                }
            }
            &[open] summary::after { transform: translateY(-50%) rotate(180deg); }
    
            &::details-content {
                block-size: 0; overflow: clip;
                transition: block-size set.$aniSet, margin-top set.$aniSet, opacity set.$aniSet, content-visibility set.$aniSet allow-discrete;
                opacity: 0;
            }
            &[open]::details-content {
                block-size: auto;
                opacity: 1;
            }
    
            summary + div {
                border-top: .1rem solid set.$gray-20; line-height: 1.4; 
                padding: map.get($prop, pd);
            }
        }
    }
}

