@charset "UTF-8";
@keyframes ani-spinner {
  0% {
    rotate: 0turn;
  }
  100% {
    rotate: 1turn;
  }
}
/* 헤더 */
/* 푸터 */
/* 네비게이션 */
.flexBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* 전체 레이아웃 */